html, body {
  height: 100%; }

body {
  overflow: hidden;
  -ms-content-zooming: none;
  -ms-touch-action: none;
  background-image: url("../img/bg/background-1.jpg");
  background-repeat: no-repeat;
  margin-top: 20px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; }

#push, #footer {
  height: 30px; }

#footer {
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  z-index: 10; }
  #footer .muted {
    font-size: 12px;
    padding: 0 10px; }

#sidebar-left {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 150px; }
  #sidebar-left dl {
    margin-bottom: 10px; }
  #sidebar-left p {
    margin: 5px; }

#image-container {
  height: 100%;
  left: 0;
  padding: 100px;
  position: absolute;
  top: 0;
  width: 100%; }
  #image-container img {
    position: relative; }

/*****  BOOTSTRAP  *****/
a:focus, .btn:focus {
  outline: none; }

.navbar .brand {
  padding: 8px 20px; }
.navbar .divider-vertical {
  height: 36px; }

.navbar-inner {
  min-height: 30px;
  text-shadow: 1px 1px 0 white; }
  .navbar-inner .input-small {
    font-size: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 120px; }
  .navbar-inner .input-append .add-on {
    color: #777;
    font-size: 12px;
    height: 16px;
    line-height: 16px; }

.navbar-text {
  font-size: 12px;
  line-height: 36px;
  padding-left: 5px;
  padding-right: 5px; }

.navbar-fixed-top .navbar-inner {
  padding-left: 10px;
  padding-right: 10px; }

/*****  STYLES  *****/
.status {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 5px; }
  .status.connected {
    background-image: url("../img/connected.gif"); }

.server-ip {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 1px 0 white, 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
  color: #555;
  display: inline-block;
  font-family: menlo,monaco,"andale mono","courier new",fixed;
  font-style: italic;
  font-weight: bold;
  line-height: 17px;
  padding: 2px 7px;
  text-shadow: 0 1px 1px white; }

.meows {
  position: fixed;
  top: 50px;
  right: 10px;
  width: 250px; }

.image {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 0;
  -webkit-transition: transform 0.15s linear;
  -moz-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear;
  transition: transform 0.15s linear; }
  .image:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top: 15px; }
  .image:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    z-index: 10;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  .image img {
    display: block; }

/*.image:nth-child(2n) {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}
.image:nth-child(3n) {
	-webkit-transform: rotate(-24deg);
	-moz-transform: rotate(-24deg);
	transform: rotate(-24deg);
}
.image:nth-child(4n) {
	-webkit-transform: rotate(14deg);
	-moz-transform: rotate(14deg);
	transform: rotate(14deg);
}
.image:nth-child(5n) {
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	transform: rotate(-18deg);
}*/
#bg-change-container {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 100px; }

.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .image_picker_selector li {
    margin: 0 0 12px;
    float: left; }
    .image_picker_selector li .thumbnail {
      border: 1px solid #777777;
      cursor: pointer;
      padding: 1px;
      width: 78px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      .image_picker_selector li .thumbnail:hover {
        border-color: #bbb; }
      .image_picker_selector li .thumbnail.selected {
        border-color: #fff;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); }
