@charset "utf-8";

html, body {
	height: 100%;
}

body {
	overflow: hidden;
	-ms-content-zooming: none;
	-ms-touch-action: none;

	background-image: url("../img/bg/background-1.jpg");
	background-repeat: no-repeat;
	margin-top: 20px;

	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}


/*****  LAYOUT  *****/
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
#push, #footer {
	height: 30px;
}
#footer {
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 30px;
	z-index: 10;
	.muted {
		font-size: 12px;
		padding: 0 10px;
	}
}
#toggle-button {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 1050;
}
#sidebar-left {
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 12px;
	left: 0;
	padding-top: 36px;
	position: absolute;
	width: 128px;
	top: 0;
	p {
		margin: 5px;
	}
}
#sidebar-right {
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 12px;
	right: 0;
	min-height: 40%;
	position: absolute;
	width: 220px;
	top: 20%;
	p {
		margin: 10px;
	}
}
#element-container {
	height: 95%;
	left: 0;
	margin: 3% -0.5% 5% -0.5%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	img {
		position: relative;
	}
}


/*****  BOOTSTRAP  *****/
a:focus, .btn:focus {
	outline: none;
}
.navbar {
	.brand {
		padding: 8px 20px;
	}
	.divider-vertical {
		height: 36px;
	}
}
.navbar-inner {
	min-height: 30px;
	text-shadow: 1px 1px 0 #fff;
	.input-small {
		font-size: 12px;
		padding-bottom: 2px;
		padding-top: 2px;
		width: 120px;
	}
	.input-append {
		.add-on {
			color: #777;
			font-size: 12px;
			height: 16px;
			line-height: 16px;
		}
	}
}
.navbar-text {
	font-size: 12px;
	line-height: 36px;
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-fixed-top {
	.navbar-inner {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.progress {
	margin: 5px -20px 5px 0;
	width: 200px;
}


/*****  CONNECTION BAR  *****/
.status {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-right: 5px;
	&.connected {
		background-image: url("../img/connected.gif");
	}
}
.server-ip, .client-name {
	background-color: rgba(255,255,255,0.8) !important;
	border-radius: 4px;
	box-shadow: 0 1px 0 white, 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset !important;
	color: #555;
	display: inline-block;
	font-family: menlo,monaco,"andale mono","courier new",fixed;
	font-style: italic;
	font-weight: bold;
	line-height: 17px;
	margin-right: 10px;
	margin-top: 0px !important;
	padding: 2px 7px !important;
	text-shadow: 0 1px 1px #fff;
}
.client-name {
	background-color: rgba(0,0,0,0.1) !important;
	height: 17px !important;
	padding-top: 4px !important;
	width: 150px !important;
	&:focus {
		background-color: #fff !important;
	}
}



/*****  CLIENT SIDEBAR  *****/
.clients {
	dl {
		margin-bottom: 10px;
		.current {
			color: #0cf;
			font-weight: bold;
		}
	}
	h4 {
		font-size: 16px;
		padding-left: 10px;
	}
}

#upload-button {
	overflow: hidden;
	position: relative;
}
#upload-input {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	right: -10px;
	transform: translate(-300px, 0px) scale(4);
}


/*****  FILES SIDEBAR  *****/
.files {
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	dd {
		cursor: pointer;
		line-height: 15px;
		padding: 5px;
		&:hover {
			background-color: rgba(0,0,0,0.5);
			.icon-remove {
				display: inline-block;
			}
		}
		&.checked {
			background-color: rgba(255,255,255,0.5);
			i {
				display: inline-block;
			}
		}
		.title {
			float: left;
			padding-left: 10px;
		}
		i {
			display: none;
			float: right;
			&.icon-ok {
				padding-right: 6px;
			}
			&.icon-picture {
				display: block;
				float: left;
			}
		}
	}
}

.image {
	background: white;
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	cursor: pointer;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
	z-index: 0;
	-webkit-transition: transform .15s linear;
		 -moz-transition: transform .15s linear;
			 -o-transition: transform .15s linear;
					transition: transform .15s linear;
	&:after {
		color: #333;
		font-size: 20px;
		content: attr(title);
		position: relative;
		top: 15px;
	}
	&:hover, &.hover, &.active {
		box-shadow: 0 10px 20px rgba(0,0,0,.7);
		-webkit-transform: scale(1.05);
			 -moz-transform: scale(1.05);
			 	 -o-transform: scale(1.05);
						transform: scale(1.05);
	}
	&.hover {
		background-color: #000;
		z-index: 1000;
	}
	&.active {
		border: 2px solid #09C;
	}
	img {
		display: block;
	}
}

.notifications {
	position: fixed;
	&.top-right {
		right: 10px;
		top: 40px;
	}
	&.top-left {
		left: 10px;
		top: 25px;
	}
	&.bottom-left {
		left: 10px;
		bottom: 25px;
	}
	&.bottom-right {
		right: 10px;
		bottom: 25px;
	}
	& > div {
		position: relative;
		z-index: 9999;
		margin: 5px 0px;
	}
}
.alert-bangTidy {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgba(0, 0, 0, 0.80);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.80)), color-stop(100%,rgba(0, 0, 0, 0.88)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
	background: linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.80)', endColorstr='rgba(0, 0, 0, 0.88)',GradientType=0 );
	border: 1px solid #000;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
	-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
	color: white;
	-webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-o-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	-webkit-font-smoothing: antialiased;
	.close {
		color: #fff;
	}
}


#background-changer-container {
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	width: 100px;
}
.image_picker_selector {
	overflow: auto;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		margin: 0 0 12px;
		float: left;
		.thumbnail {
			border: 1px solid #777;
			cursor: pointer;
			padding: 1px;
			width: 78px;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			&:hover {
				border-color: #bbb;
			}
			&.selected {
				border-color: #fff;
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
			}
		}
	}
}
